@charset "utf-8";

// Hack to make dropdown menus show/hide on mobile
.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.is-vertical-center {
  display: flex;
  align-items: center;
}
